logs/
notebooks/*
peal_env
*__pycache__*
notebooks/.ipynb_checkpoints
notebooks/datasets
notebooks/peal_runs
notebooks/*.png
notebooks/static
notebooks/templates
notebooks
datasets
peal_runs*
peal_data*
static
outputs
*.fuse_hidden*
.vscode
*.pt
*.pth
.idea
dime2/outputs
peal/dependencies/ace/outputs
environment.yaml
$PEAL_DATA

!peal/dependencies/dive/src/datasets
